
.console-global-notice-list{
	line-height: 180%;
	padding:5px;
	background: #f2ffea;
	border: 1px solid #c0eea4;
}

.console-global-table-list{
	line-height: 180%;
	background: #fbfafa;
	border: 1px solid #ede9e9;
	padding:5px;
}