@charset "utf-8"; 
@import url(../js/tnotify/tnotify.css); 
@import url(../js/ngDialog/css/ngDialog-custom-downdialog.css); 
@import url(../js/ngDialog/css/ngDialog.css); 
@import url(../js/ngDialog/css/ngDialog-theme-default.css); 
@import url(../js/ngDialog/css/ngDialog-theme-plain.css); 
@import url(../js/ngDialog/css/ngDialog-custom-width.css); 
@import url(../js/ngDialog/css/ngDialog-custom-dialog.css); 
@import url(../js/common/ng-grid.css); 
@import url(../js/uploadify/uploadify.css); 
@import url(../js/ngloading/toastr.css); 
@import url(../js/swipe/idangerous.swiper.css); 
@import url(../js/nspopover/nsPopover.css);  
@import url(../css/tree.css);  
@import url(../js/is-loading/loading-style.css);  
@import url(../css/zoom.css); 
@import url(../css/console.css); 
@import url(../js/angular-tree-control/tree-control.css); 
@import url(../js/angular-tree-control/tree-control-attribute.css); 

/* Css Reset */
html { -webkit-text-size-adjust:none } 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,th,var,i { font-weight:normal; font-style:normal; }
ol,ul,li { list-style: none; }
div,dl,dt,dd,ol,ul,li{ zoom:1; }
caption,th { text-align: left;    white-space: nowrap; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size:100%; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
.framebody { min-width: 1024px;}

/* Public */
html{ width:100%; }
body{ width:100%; color:#555;font:12px/1.5 微软雅黑,"Microsoft YaHei",Verdana,Arial,sans-serif; -webkit-text-size-adjust: none;background:#eef9ff;}
a{color:#555;text-decoration:none; outline:none;}
a:hover {color:#f30; text-decoration:underline; }
h3 { color: #333; font-size: 14px;}
.tc { text-align: center!important;}
.valignmiddle { vertical-align: middle!important;}
.fl{ float:left !important; }
.fr{ float:right !important; }
.mab{ margin-bottom:10px; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl:after { content:".";    display:block;  height:0;   clear:both; visibility:hidden;}
.cl {   zoom:1;}
.clear {clear: both;}
.dis { display: none;}
.w1000{width:1000px;margin:0 auto;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mb10{margin-bottom:10px!important;}
.mt10{margin-top:10px!important;}
.siteWidth{ width:1000px; margin:0 auto;   }
.column{ overflow:hidden; margin-bottom:10px;  }
.qnk{width:1000px;height:85px;margin:0 auto 20px auto;background:url(img/qnk.gif) center no-repeat;}
.margin_top { margin-top: 15px!important;}
.margin_top_banner_body { margin-top: 25px!important;}

.logininputitem { height: 70px; border-bottom: 1px solid #e5e5e5;}
.logininputitem i { display: inline-block; width: 50px; height: 100%; vertical-align: middle;}
.loginpanel .body .username i { background: url(../images/ico/user.png) center no-repeat;}
.loginpanel .body .password i { background: url(../images/ico/password.png) center no-repeat;}
.loginpanel .body .validatecode i { background: url(../images/ico/validatecode.png) center no-repeat;}
.logininputitem input[type="text"] { vertical-align: middle; color:#666; font-size: 14px; border: none; width: 330px; height: 40px; line-height: 40px;outline: none;}
.logininputitem input[type="password"] { vertical-align: middle; color:#666; font-size: 14px; border: none; width: 330px; height: 40px; line-height: 40px;outline: none;}
.loginpanel .body .validatecode input{width: 150px;}
.loginpanel .body .validatecode img { vertical-align:middle; }
.loginbtnpanel { height: 80px; text-align: center;}
.loginbtnpanel #loginbtn { background: url(../images/loginbtnbg.png) no-repeat; height: 46px; width: 300px; line-height: 46px; color: white; font-size: 20px; border:none; outline: none; vertical-align: middle;cursor: pointer; display: inline-block; margin-top: 20px;}
.registerfind { height: 20px;}
.registerfind a { font-size: 14px;}

.headerwrap{ width: 100%; height: 50px; border-bottom: 1px solid #fff;
    box-shadow: 2px 2px 2px #e4eaec!important;
}
.headerwrap .contentpanel{ width: 100%; height: 100%; margin: 0 auto;  }
.headerwrap .contentpanel .logo{ padding-top: 5px; padding-left: 20px; float: left; width: 200px;background: #1c2b36;height:60px;}
.headerwrap .contentpanel .fr .menuitem:first-child,.headerwrap .contentpanel  .menuitem.first{ border-left:0px solid #426fa4;}
.headerwrap .contentpanel .fr .menuitem:last-child { border-right:none;}
.headerwrap .contentpanel .menuitem { height: 49px; line-height: 49px; cursor: pointer; padding: 0 30px; color:#706c6c; font-size: 14px; float: left; border-right: 0px solid #426fa4}
.headerwrap .contentpanel .menuitem a {color:#000;}
.headerwrap .contentpanel .menuitem.on,.headerwrap .contentpanel .menuitem:hover { color:#000;}
.headerwrap .menuitem .search { height: 18px;width: 15px; display: inline-block; vertical-align: middle; margin-right: 10px; background: url(../images/ic_search.png) no-repeat;}
.headerwrap .menuitem .help { height: 18px;width: 15px; display: inline-block; vertical-align: middle; margin-right: 10px; background: url(../images/ic_help.png) no-repeat;}
.headerwrap .menuitem .manager { height: 4px;width: 7px; display: inline-block; vertical-align: middle; margin-left: 10px; background: url(../images/ic_arrowdown.png) no-repeat;}

.mainwrap {     position: absolute; 
    top: 53px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #f7f7f7;
    z-index: 100;}
.mainwrap .leftmenu {position: absolute; width: 200px;
    top: 0px;
    bottom: 0px;
    background-color: #1c2b36;
    z-index: 102;
    overflow-x: hidden;}
.mainwrap .leftmenu .wrap {
    width: 220px;
    height: 100%;
    overflow-x: hidden;
}   

.mainwrap .body {left: 200px;
    background: #fff; 
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;}
.mainwrap .leftmenu ul li { height: 40px; width:200px; background: #1c2b36;}
.mainwrap .leftmenu ul li:hover,.mainwrap .leftmenu ul li.on { background:#131e26!important}
.mainwrap .leftmenu ul li.category {background: #1c2b36;}
.mainwrap .leftmenu ul li.subitems {padding-left:20px;}
.mainwrap .leftmenu ul li span { color: white;}
.mainwrap .leftmenu ul li a { text-decoration: none; height: 100%; width:100%; display: inline-block; line-height: 40px;}
.mainwrap .leftmenu ul li a  i { display: inline-block; height: 40px; width: 50px; vertical-align: top;  background: url(../images/ico/goodstatics.png) center no-repeat;}
.mainwrap .leftmenu ul li.category a i { height: 40px; width: 40px; background-image: url(../images/ico/arrowdown.png);}
.mainwrap .leftmenu ul li.auth a  i { background-image: url(../images/ico/auth.png);}
.mainwrap .leftmenu ul li.organ a  i { background-image: url(../images/ico/organ.png);}
.mainwrap .leftmenu ul li.payconfirm a  i { background-image: url(../images/ico/payconfirm.png);}
.mainwrap .leftmenu ul li.payhistory a  i { background-image: url(../images/ico/payhistory.png);}
.mainwrap .leftmenu ul li.goods a  i { background-image: url(../images/ico/goods.png);}
.mainwrap .leftmenu ul li.send a  i { background-image: url(../images/ico/send.png);}
.mainwrap .leftmenu ul li.goodscategory a  i { background-image: url(../images/ico/goodscategory.png);}
.mainwrap .leftmenu ul li.propertysetting a  i { background-image: url(../images/ico/propertysetting.png)}
.mainwrap .leftmenu ul li.orderstatic a  i { background-image: url(../images/ico/orderstatic.png);}
.mainwrap .leftmenu ul li.goodstatics a  i { background-image: url(../images/ico/goodstatics.png);}
.mainwrap .leftmenu ul li.finalstatics a  i { background-image: url(../images/ico/finalstatics.png);}
.mainwrap .leftmenu ul li.sendauth a  i { background-image: url(../images/ico/sendauth.png);}
.mainwrap .leftmenu ul li.kefu a  i { background-image: url(../images/ico/kefu.png);}
.mainwrap .leftmenu ul li.registeruser a  i { background-image: url(../images/ico/registeruser.png);}
.mainwrap .leftmenu ul li.manager a  i { background-image: url(../images/ico/manager.png);}
.mainwrap .leftmenu ul li.power a  i { background-image: url(../images/ico/power.png);}
.mainwrap .leftmenu ul li.dict a  i { background-image: url(../images/ico/dict.png);}
.mainwrap .leftmenu ul li.log a  i { background-image: url(../images/ico/log.png);}
.mainwrap .leftmenu ul li.rate a  i { background-image: url(../images/ico/rate.png);}
.mainwrap .leftmenu ul li.buy a  i { background-image: url(../images/ico/buy.png);}
.mainwrap .leftmenu ul li.cart a  i { background-image: url(../images/ico/cart.png);}
.mainwrap .leftmenu ul li.buygoods a  i { background-image: url(../images/ico/buygoods.png);}
.mainwrap .leftmenu ul li.fav a  i { background-image: url(../images/ico/fav.png);}
.mainwrap .leftmenu ul li.askprice a  i { background-image: url(../images/ico/askprice.png);}

.mainwrap .leftmenu ul li.bond a  i { background-image: url(../images/ico/bond.png);}
.mainwrap .leftmenu ul li.dues a  i { background-image: url(../images/ico/dues.png);}
.mainwrap .leftmenu ul li.account a  i { background-image: url(../images/ico/account.png);}
.mainwrap .leftmenu ul li.receive a  i { background-image: url(../images/ico/receive.png);}
.mainwrap .leftmenu ul li.invoice a  i { background-image: url(../images/ico/invoice.png);}
.mainwrap .leftmenu ul li.gathering a  i { background-image: url(../images/ico/gathering.png);}
.mainwrap .leftmenu ul li.organinfo a  i { background-image: url(../images/ico/organinfo.png);}
.mainwrap .leftmenu ul li.sh a  i { background-image: url(../images/ico/sh.png);}
.mainwrap .leftmenu ul li.fp a  i { background-image: url(../images/ico/fp.png);}
.mainwrap .leftmenu ul li.skfs a  i { background-image: url(../images/ico/skfs.png);}
.mainwrap .leftmenu ul li.wym a  i { background-image: url(../images/ico/wym.png);}
.mainwrap .leftmenu ul li.wdgwc a  i { background-image: url(../images/ico/wdgwc.png);}
.mainwrap .leftmenu ul li.ymd a  i { background-image: url(../images/ico/ymd.png);}
.mainwrap .leftmenu ul li.wdsc a  i { background-image: url(../images/ico/wdsc.png);}
.mainwrap .leftmenu ul li.wdxj a  i { background-image: url(../images/ico/wdxj.png);}
.mainwrap .leftmenu ul li.scsp a  i { background-image: url(../images/ico/scsp.png);}
.mainwrap .leftmenu ul li.cssp a  i { background-image: url(../images/ico/cssp.png);}
.mainwrap .leftmenu ul li.cksp a  i { background-image: url(../images/ico/cksp.png);}
.mainwrap .leftmenu ul li.lssp a  i { background-image: url(../images/ico/lssp.png);}
.mainwrap .leftmenu ul li.ymsp a  i { background-image: url(../images/ico/ymsp.png);}
.mainwrap .leftmenu ul li.khxj a  i { background-image: url(../images/ico/khxj.png);}
.mainwrap .leftmenu ul li.sqfh a  i { background-image: url(../images/ico/sqfh.png);}
.mainwrap .leftmenu ul li.jrfw a  i { background-image: url(../images/ico/jrfw.png);}
.mainwrap .leftmenu ul li.lxzx a  i { background-image: url(../images/ico/lxzx.png);}
.mainwrap .leftmenu ul li.zzsh a  i { background-image: url(../images/ico/zzsh.png);}
.mainwrap .leftmenu ul li.qyhygl a  i { background-image: url(../images/ico/qyhygl.png);}
.mainwrap .leftmenu ul li.zfqr a  i { background-image: url(../images/ico/zfqr.png);}
.mainwrap .leftmenu ul li.lszf a  i { background-image: url(../images/ico/lszf.png);}
.mainwrap .leftmenu ul li.spgl a  i { background-image: url(../images/ico/spgl.png);}
.mainwrap .leftmenu ul li.zxfh a  i { background-image: url(../images/ico/zxfh.png);}
.mainwrap .leftmenu ul li.spflgl a  i { background-image: url(../images/ico/spflgl.png);}
.mainwrap .leftmenu ul li.spsxpz a  i { background-image: url(../images/ico/spsxpz.png);}
.mainwrap .leftmenu ul li.jytj a  i { background-image: url(../images/ico/jytj.png);}
.mainwrap .leftmenu ul li.sptj a  i { background-image: url(../images/ico/sptj.png);}
.mainwrap .leftmenu ul li.hyzjtj a  i { background-image: url(../images/ico/hyzjtj.png);}
.mainwrap .leftmenu ul li.kfgl a  i { background-image: url(../images/ico/kfgl.png);}
.mainwrap .leftmenu ul li.zcyhgl a  i { background-image: url(../images/ico/zcyhgl.png);}
.mainwrap .leftmenu ul li.glygl a  i { background-image: url(../images/ico/glygl.png);}
.mainwrap .leftmenu ul li.qxsz a  i { background-image: url(../images/ico/qxsz.png);}
.mainwrap .leftmenu ul li.xtsz a  i { background-image: url(../images/ico/qxsz.png);}
.mainwrap .leftmenu ul li.xtzd a  i { background-image: url(../images/ico/xtzd.png);}
.mainwrap .leftmenu ul li.czrz a  i { background-image: url(../images/ico/czrz.png);}


.mainbody { padding: 20px;}
.mainbody .bodytitle {  border-left: 3px solid #6890c0; padding-left: 10px; font-weight: bold; color: #333; margin: 0px 0px;font-size: 14px; line-height: 14px;}
.mainbody .panel { border:1px solid #e5e5e5; background: #f7f7f7; min-height: 50px;}

.steppanel .stepnote { float: right; padding-right: 20px; padding-top: 8px; color: #999;}
.steppanel .step { width: 100%; text-align: center; margin-top: 20px; margin-bottom: 20px;}
.steppanel .step ul li { min-height: 50px; min-width: 100px; display: inline-block; position: relative;  background: url(../images/ico/step_middle_0.png) top center no-repeat;}
.steppanel .step ul li.on {  background: url(../images/ico/step_middle_0_on.png) top center no-repeat;}
.steppanel .step ul li.now {  background: url(../images/ico/step_middle_0_now.png) top center no-repeat;}
.steppanel .step ul li.first { background: url(../images/ico/step_first_1.png) top right no-repeat; width: 67px; }
.steppanel .step ul li.first.on { background: url(../images/ico/step_first_1_on.png) top right no-repeat; }
.steppanel .step ul li.first.now {  background: url(../images/ico/step_first_1_now.png) top right no-repeat;}

.steppanel .step ul li.last.on { background: url(../images/ico/step_last_0_on.png) top left no-repeat; }
.steppanel .step ul li.last.now {  background: url(../images/ico/step_last_0_now.png) top left no-repeat;}
.steppanel .step ul li.last { background: url(../images/ico/step_last_0.png) no-repeat; }
.steppanel .step ul li span { position: absolute; display: inline-block; right: 46px; line-height: 32px; font-weight: bold; color: #999;}
.steppanel .step ul li.on,.steppanel .step ul li.on span { color: #6890c0;}
.steppanel .step ul li.now,.steppanel .step ul li.now span { color: #ff6600;}
.steppanel .step ul li.first span { right: 47px;}
.steppanel .step ul li.last span { right: 45px;}
.steppanel .step ul li label { display: inline-block; margin-top: 36px;}
.steppanel .stepnavi{text-align: center; padding-bottom: 10px; }
.steppanel .stepnavi span { display:  inline-block; margin: 0 16px;}
.steppanel .stepnavi label { color:#ff6600;}
.approvepanel { height: 90px; line-height: 90px; text-align: center; }
.approvepanel span{ font-size: 15px;    vertical-align: middle;}
.approvepanel span label {color: #0066cc; font-size: 30px;    vertical-align: middle;}
.recordlist { margin-top: 20px; background: white;}
.tabheader {    border-bottom: 1px solid #e5e5e5;height: 38px;}
.tabheader ul li { cursor: pointer; height: 38px; line-height: 38px; display: inline-block; width: auto; border:1px solid #e5e5e5; float: left; border-left: none; padding: 0px 24px; background: #f7f7f7;}
.tabheader ul li.first { border-left: 1px solid #e5e5e5;}
.tabheader ul li.on{ background: white; border-bottom: none; border-top: 2px solid #6890c0; color:#6890c0; font-weight: bold; }
.searchpanel { clear: both; padding: 14px 20px; vertical-align: middle;}
.searchpanel label { vertical-align: middle;}
.searchpanel input[type=text],.searchpanel select{ border:1px solid #bababa; height: 22px; line-height: 22px; padding-left: 3px; vertical-align: middle;}
.searchpanel select { height: 24px;}
.searchpanel .keyword { width: 190px;}
.searchpanel input[type=button]{ border:1px solid #bababa; height: 24px; line-height: 24px; padding: 0 15px; vertical-align: middle; margin-left: 10px; color: #666; background: #f7f7f7; cursor: pointer;}
.table {border-collapse: collapse;
    border-spacing: 0; width: 100%; max-width: 100%; color: #666;}
.table th ,.table tfoot td{ background: #f7f7f7; padding: 10px 10px!important; line-height: 18px!important; font-weight: normal;
    vertical-align:middle!important;
}
.table thead,.table tfoot { border: 1px solid #e5e5e5; -webkit-box-sizing:border-box;}
.checkbox { margin-top: 0px!important;margin-bottom: 0px!important; display: inline-block!important; width: 20px; height: 20px; background: url(../images/ico/checkbox.png) center no-repeat; vertical-align: top;}
.checked {background: url(../images/ico/checked.png) center no-repeat;}
td.thcheckbox { width: 20px; padding: 5px 0px 5px 11px!important;}
td.cartcheck { padding: 0!important; text-align: center; min-width: 30px;}
.table td {text-overflow: ellipsis; padding: 5px 10px; line-height: 23px; vertical-align: top; border-bottom: 1px solid #e5e5e5;}
.table input[type=button] {
    border: 1px solid #bababa;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    vertical-align: middle; 
    color: #666;
    background: #f7f7f7;
    cursor: pointer;
}
.table td.pager { text-align: right; padding-right: 25px;   }
.table td.pager a { background: white; border: 1px solid #e5e5e5; display: inline-block; padding: 6px 12px; text-decoration: none;margin-left:5px;}
.table td.pager a.on,.table td.pager a:hover { background: #6890c0; color: white;}
.inputgroup { border-bottom: 1px solid #e5e5e5; line-height: 36px; margin-top: 10px;}
.noempty { color: red; vertical-align: middle;}
.inptext {border:1px solid #ccc; border-radius: 0px; height: 34px; width: 100%; line-height: 34px; vertical-align: middle;    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;box-sizing: border-box;padding-left: 5px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;}
.inptext:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  /*-webkit-box-shadow:none;box-shadow:none*/
}
.inputtable { margin-top: 20px;}
.inputtable td .label { vertical-align: middle; line-height: 32px; font-weight: normal; color: #666; font-size: 12px;}
.inputtable td { padding: 8px 0;}
.radiolabel { display: inline-block; vertical-align: middle; font-weight: normal;}
.radio { margin-right: 10px; display: inline-block; width: 19px; height: 19px; background: url(../images/ico/radio.png) no-repeat; vertical-align: middle;}
.radiochecked { background: url(../images/ico/radiochecked.png) no-repeat;}
.dropdown { width: 100px; padding-top: 6px; padding-bottom: 6px; line-height: 22px;}
.textboxto{ width: 100px;}
.to { margin-left: 10px; margin-right: 10px; display: inline-block; min-width: 12px; background: url(../images/ico/to.jpg) center repeat-x; display: inline-block; height:34px; vertical-align: middle;}
.area { width: 298px;}
.uploadbtn {text-align: center; width: auto; background: #f7f7f7;  color: #666; cursor: pointer;line-height: 30px;}
.zj { width: 140px;}
.wd300 { width: 300px!important}
.wd120 { width: 120px!important}
.remark { line-height: 20px; min-height: 60px;}
.splitline { clear: both; height: 1px; width: 100%; background: #e5e5e5; margin: 20px 0}
.handlepanel { text-align: center;}
.commonbtn { width: auto; background: #eee; padding: 0px 30px; color: white; border: none; outline: none; font-size: 14px; font-weight: bold; cursor: pointer; margin: 0px 10px;}
.btnsave { background: #6890c0;}
.btnpublish { background: #ff6600;}

.error404 {  width: 100%; background: #eaedf2; text-align: center; padding-top: 120px; padding-bottom: 70px; margin-bottom: 35px;}


/**validate begin*/ 
.form-horizontal .form-group {
     margin-right: 0px!important; 
     margin-left: 0px!important; margin-bottom: 0px;
}
.w5c-error { display: none;}
.has-error .form-control,.has-error .inptext,.validerror {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.validsuccess, .validerror { border:1px solid transparent; float: left; padding: 4px 2px 8px 2px;}
.form-group { display: inline; width: 100%;}
/**validate end*/

/**uploadify begin*/ 
.uploadimgcontainer li { display: inline-block; width: auto; position: relative; padding: 4px; border: 1px solid #e5e5e5; margin-bottom: 18px; margin-right: 20px;}
.removeupload { zoom:1; z-index: 2; display: inline-block; position: absolute; top: -12px; right: -12px; width: 24px; height: 24px; background: url(../images/ico/ic_remove.png) no-repeat;}
/**uploadify end*/ 

/* tree */
.uiTree {
    list-style-type: none;
    margin-left: 10px;
    padding-bottom: 5px;
}
.uiTree li a.icon {
    display: inline-block;
    width: 24px;
    cursor: pointer;
    vertical-align: text-bottom;
}
.uiTree li .node:hover > a.addChild {
    display: inline-block;
}
.uiTree li a.addChild {
    margin-left: 10px;
    cursor: pointer;
    display: none;
    vertical-align: text-bottom;
}
.uiTree li .node {
    padding-bottom: 5px;
}
.uiTree span.nodeLabel {
    cursor: pointer;
}
.uiTree span.nodeLabel.selected {
    border: 1px solid #aaa;
    background-color: #ddd;
    padding: 1px 3px;
}
.locklabel { padding-left: 20px; padding-right: 20px;}
.righthandle { text-align: right; padding: 10px 0px;}
.righthandle input:nth-last-child(1) { margin-right: 0px;}


.organsubmitcolumn { width: 600px; padding-left: 20px!important;}
.inputtable .mutillabel { line-height: 14px;}
.radiolisthorizontal  { float: left; padding-right: 20px;}
.radiolistvertical { padding: 3px 0;}
.uploadfileitem  { line-height: 50px; padding-left: 12px; padding-right: 12px;}

.lt{
  float:left!important;
}
.rt{
  float:right!important;
}
.Hide{
  display:none!important;
} 

.productapprove { line-height: 24px; border:none!important; background: white!important; margin-right: -15px; margin-left: -10px;}
.productapprove li { width: 25%; float: left; }
.productapprove li div { margin: 0px 10px; padding: 15px 0px;    -webkit-box-sizing:border-box;border: 1px solid #e5e5e5;background: #f7f7f7;}
.productapprove span { line-height: 30px;}
.date { width: 100px;}
.table1 { width: 100%; line-height: 24px;}
.table1 td { border-bottom: 0px;}








.DialogContent{
  background:#f8f8f8;
  padding-bottom: 30px;
  border-radius: 5px;
}

.DialogContent .Title{
  line-height: 50px;
  text-align: center;
  background: #6890c0;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}


.DialogContent .DialogFrom{
  margin:0px 60px 10px 60px;
}



.DialogFrom ul li{
  line-height: 50px;
  width: 100%;
  height: 50px;

}
.DialogFrom ul li span{
  width: 20%;
  display:inline-block;
  color: #575757;
  font-size: 12px;
}

.DialogFrom ul li input.TextboxLine{
  background: #ffffff;
  height: 30px;
  border: 0px;
  width: 78%;
  font-size: 12px;
  padding-left: 5px;
}



.DialogFrom ul li input.btnDialogLogin{
  width:100%;
}




.buttonBlue{
  border:0;
  background: #6789c7;
  height:34px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color:#ffffff;
}

.buttonBlue:hover {
    background: #8bb2f9;
    color: #ffffff;
}


.buttonBlank{
  border:1px solid #354a5f;
  background: #ffffff;
  height:35px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color:#354a5f;
  cursor:pointer;
}


.buttonBlank:hover {
    background: #8bb2f9;
    border:1px solid #8bb2f9;
    color: #ffffff;
}
.MarginTop10{
  margin-top: 10px;
}
.MarginRight10{
  margin-right: 10px;
}
.PaddingRight10{
  padding-right: 10px;
}
.MarginTop10{
  margin-top: 10px;
}
.productdetail {
  border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    padding: 10px;
    background: #fdfdfd; 
    float: right;
    width: 100%;
    margin-top: 5px;
}
.productdetail .detail{ 
  width: 100%;
  background: #ccc; 
  float: right;
}
.productdetail .detail td{  
  background: #fff; 
  border-bottom: none;
}
.productdetail .container td{
  border-bottom: none;
  padding: 0px;
}
.productdetail .detail td{
  padding: 5px 10px; 
}
.productdetail .detail td.label{  
  background: #f1f1f1;  
}
.productdetail .container { width: 100%;border-bottom: none;}
.productdetail .container .handle { float: right; width: 100px;}
.producthandle li{ text-align: center; width: 100px;padding-top: 10px;
    float: left;
    clear: both;}
.producthandle li div { float: left; clear: both; width: 100%;}
.producthandle li i { display: block; float: left; height: 34px; width: 100%;}
.producthandle li i.addcart { background: url(../images/ico/cart1.png) center no-repeat;}
.producthandle li i.addguestbook { background: url(../images/ico/guestbook.png) center no-repeat;}
.producthandle li i.addfavoites { background: url(../images/ico/favoites.png) center no-repeat;}
.ordertable { padding: 0px;}
.ordertable { background:#e5e5e5;    border-collapse: separate;border-spacing:1px; margin-bottom: 10px;}
.ordertable td {  background:white; border-bottom: none;}
.ordertable .coverImg { padding: 4px; width: 120px;height: 80px; border: 2px solid #f1f1f1;}
.orderproduct { padding-top: 5px;}
.orderproduct img {display: block; float: left;}
.orderproduct .product{ float: left; margin-left: 20px;}
.orderproduct .price { float: left; margin-left: 40px;}
.orderproduct p { line-height: 20px;}

.Color_Red{
  color: red;
}

 .Classtable { border:0px solid #84e49f; width:100%; font-size:12px;}
 .Classtable tr td { background:#fff; height:25px; line-height:25px;padding-left:5px;}
 .Classtable tr.title td{ background:#def2fb; height:25px; line-height:25px;}

.initprice { color: #999;text-decoration:line-through;}
.dropdown1 { width: auto; height: 24px; line-height: 24px; padding: 0px; min-width: 100px;}
.nomatchrecord {
    background: #f7f7f7;
    padding: 10px 10px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.edittable { background:#e5e5e5;    border-collapse: separate;border-spacing:1px;}
.edittable td { padding: 5px 5px; line-height: 14px;height: 50px;}
.edittable td.label { 
    background:#f7f7f7;
    line-height: 14px; 
    display:table-cell;
    padding: 5px 5px; 
    font-size: 14px;
    font-weight:normal;
    line-height: 0;
    color: #000;
    text-align: left;
    white-space:normal;
    vertical-align:middle;
    border-radius: 0;

}
.edittable td.content { background:#fff;}
.checkboxlist {float: left; min-width: 200px;}
.checkboxlist .radiolabel { line-height: 18px;} 
.idlist { float: left; margin-right: 20px;}
.idlist li { margin-bottom: 0px;}
.confirmpanel { padding: 10px 0px; min-height: 0px!important; float: left; width: 100%;}
.ordertotal  { float: left; line-height: 34px; padding-left: 30px; font-size: 15px; }
.ordertotal label { color: #f60; font-weight: bold;}
.addrlist { clear: both; padding-left: 16px; padding-top: 10px;}
.orderproduct .address { float: left; line-height: 20px; padding-left: 50px;}


.ngdialog.ngDialog-custom-dialog .ngdialog-content{
   width:700px;
}

.ngdialog.ngDialog-custom-dialog {
  padding-top: 10%;
}
.DialogFrom ul li{
  height: 30px!important;
  line-height: 30px!important;
}

.DialogFrom ul li.FONT12px{
  font-size: 12px;
}

.DialogFrom ul li input.TextboxLine{
  width:100%;
  height:35px;
  color: #000;
}

.DialogFrom ul li input[placeholder] {
   color:#dad8d8 !important;
}
.noavailable { color: red;}


.auctioninfopanel{
    border-top:1px solid #9bd1f0;
    padding: 20px;
}

.auctiontitle{
    width:100%;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.auctiontitle ul li{
    padding-left: 10px;
}


.whiteBack{
    background: #ffffff;
    border: 1px solid #e5e5e5;
    padding-bottom: 10px;
    
}

.paimainote { font-size: 13px;}
.paimainote p { padding-bottom:4px;}
.paimainote p.eng { padding-bottom: 14px;}
.checkgroup  { padding-bottom: 10px;}

.applytable { margin: 0 auto; width: 720px; font-size: 14px; margin-top: 20px;}
.applytable .title { text-align: center; font-weight: bold; font-size: 20px;}
.applytable .entitle{ font-size: 18px; padding: 10px 0;}
.applytable .note { line-height: 160%;}
.tablenote { line-height: 150%; }

.remove { color: red; cursor: pointer;}
.add { color: green; cursor: pointer;}
.pointer { cursor: pointer;}

.subbodytitle{
    font-size:14px;
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
}
.colorgreen{
    color:blue;
}
.ImageList{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ImagePanel{
    float: left;
    height: 230px;
    display:block;
    background: #ffffff;
    padding:5px;
    border: 1px solid #efefef;
    margin-left: 10px;
}

.ImagePanel span.h1{
    font-size:14px;
}
.ImagePanel .button {
    padding-top: 5px;
}
.ImagePanel .button li{
    background: #87a4da;
    height: 25px;
    line-height: 25px;
    width:80px;
    float: left;
    margin-left: 25px;
    text-align: center;
    color:#ffffff;
}

.inputtextbox{
    height: 25px;
    border: 1px solid #ccc;
}
.height25px{
    height: 25px;
}


.uploaderwrap {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uploaderwrap .ngdialog-content{
    background: #fff;
    color: #444;
    font-family: 'Microsoft YaHei',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 0em;
    position: relative;
    width: 600px;
    top: 200px;
}



/* Merchandise Release */
.merchandise-release .header{ padding-bottom: 20px;}
.merchandise-release .page-title{ position: relative;}
.merchandise-release .page-title h1{ margin-bottom: 0; line-height: 23px; padding: 10px 119px 10px 17px;}
.merchandise-release .page-title .back-link{ background: url(../images/sprite.png) no-repeat left -512px; padding: 0 0 0 13px; color: #000; display: block; line-height: 23px; position: absolute; right: 19px; top: 10px;}

.release-form .content{ border: solid 1px #e5e5e5; border-top: 0; margin: 0 0 42px 0;}
.release-form .fieldset{ padding: 51px 125px 63px 125px;}
.release-form .fieldset:first-child{ background: url(../images/others/bg-release-form.jpg) repeat left top; padding: 48px 55px 20px 55px; border-bottom: solid 1px #e5e5e5;}
.release-form .fieldset:first-child .form-list li{ margin-bottom: 28px;}
.release-form .form-list li{ position: relative; padding: 0 0 0 120px;}
.release-form .form-list li:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}

.release-form .form-list .input-text{ color: #000;padding-left:5px;}
.release-form .form-list li label{ color: #000; position: absolute; left: 0; top: 0; display: block; width: 120px; line-height: 30px; padding: 0 15px 0 0; text-align: right;}
.release-form .form-list li .sbHolder{ float: left; margin: 0 10px 0 0;}
.release-form .form-list .fields{ padding: 0;}
.release-form .form-list .fields .field{ float: left; position: relative; padding: 0 0 0 120px;}
.release-form .form-list .control label{ position: relative; width: auto; text-align: left; padding: 0;}
.release-form .form-list .control > label{ position: absolute; width: 120px; text-align: right; padding-right: 15px;}

.release-form .form-list .name .input-text{ width: 680px;}
.release-form .form-list .category:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .form-list .category .input-box{ float: left;}
.release-form .form-list .category .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .form-list .category .sbHolder{ width: 190px;}
.release-form .form-list .category .sbHolder .sbOptions{ width: 190px;}
.release-form .category .input-box2 .sbHolder{ width: 270px;}
.release-form .category .input-box2 .sbHolder .sbOptions{ width: 270px;}
.release-form .form-list .years .field:first-child{ margin-right: 38px;}
.release-form .form-list .years .input-text{ width: 190px;}
.release-form .form-list .price .input-text{ width: 170px;}

.release-form .form-list .staging:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .form-list .staging .input-box{ float: left; margin: 0 69px 0 0;}
.release-form .form-list .staging .input-box:last-child{ margin-right: 0;}
.release-form .form-list .staging .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .form-list .staging .iradio{ float: left; margin: 4px 15px 0 0;}
.release-form .form-list .staging label{ float: left;}

.release-form .form-list table{ width: 100%;}
.release-form .form-list .btn-add{ padding: 3px 14px; height: 30px; background: #3366cc;}
.release-form .form-list .btn-add span{ display: block;}
.release-form .form-list .btn-add span span{ background: url(../images/sprite.png) no-repeat -243px 0px; padding: 0 0 0 19px;}
.release-form .form-list .with-textarea{ margin-bottom: 30px;}
.release-form .form-list textarea{ width: 680px; resize: none;}

.release-form .actions{ padding: 10px 0 0 120px;}
.release-form .actions:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .actions .button{ display: block; float: left; margin: 0 10px 0 0; padding: 8px 0; width: 140px; text-align: center; font-weight: bold;}
.release-form .actions .btn-reset{ background: #3366cc;}

.release-form .brand .input-box .sbHolder{ width: 190px;}
.release-form .brand .input-box .sbHolder .sbOptions{ width: 190px;}

.release-form .form-list .product-images{ margin-bottom: 30px;}
.release-form .form-list .product-images:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .form-list .product-images .input-box{ float: left; line-height: 0; padding: 9px; border: solid 1px #e5e5e5; margin-right: 20px; position: relative;    background-color: white;}
.release-form .form-list .product-images .close{ position: absolute; right: -10px; top: -10px;}
.release-form .form-list .product-images .close span{ cursor: pointer; text-indent: -9999px; background: url(../images/others/icon-close.png) repeat left top; display: block; width: 30px; height: 30px;}
.release-form .form-list .product-images .upload{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center;}
.release-form .form-list .product-images .upload a{ display: block; margin: 35px auto; color: #000; font-size: 16px; line-height: 24px;}
.release-form .form-list .product-images .add-image{ padding: 0; border: 0;}
.release-form .product-images .btn-add span span{ padding: 0; width: 12px; height: 24px; text-indent: -9999px;}

.release-form .origin .input-text{ width: 680px; margin-top: 20px;}

.release-form .input-wrapper .line{ padding-bottom: 18px;}
.release-form .input-wrapper .line:last-child{ padding-bottom: 22px;}
.release-form .input-wrapper .line:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .input-wrapper .label{ float: left; display: block; color: #000; line-height: 30px; margin-right: 44px;}
.release-form .input-wrapper .input-box{ float: left; min-width: 110px;}
.release-form .input-wrapper .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .input-wrapper .icheckbox{ float: left; margin: 8px 10px 0 0;}
.release-form .input-wrapper label{ float: left;}

.release-form .count .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.release-form .count .input-text{ width: 170px; float: left; margin-right: 10px;}


.release-form .fieldset:first-child .form-list .modellist li { width: 120px; vertical-align: middle; float: left; margin-bottom: 0px; position: initial; padding: 0px;}
.release-form .fieldset:first-child .form-list .modellist li input,.release-form .fieldset:first-child .form-list .modellist li span{
    line-height: 30px; vertical-align: middle; margin-right: 4px;
}
.product-price-table { background-color: #d7d7d7;border-collapse: separate; border-spacing: 1px; border:none!important;}
.product-price-table th { background-color: #ededed; padding: 4px!important;}
.product-price-table td { background-color: white; padding: 0px!important;text-align:center;}
.form-list .input-text {
    vertical-align: middle;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 30px;
    border: solid 1px #bababa;
}
.input-box select {
    border: 1px solid #bababa;
    border-radius: 0px;
    height: 30px;
    width: auto;
    min-width: 80px;
    line-height: 30px;
    vertical-align: middle;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.release-form .form-list .product-images {
    margin-bottom: 30px;
}
.form-list li {
    margin: 0 0 20px 0;
}



/* My Returns */
.my-returns .page-title h1{ margin-bottom: 0;}
.col-main .chosen-desc{ color: #000; padding: 15px 17px; line-height: 21px;}
.col-main .chosen-desc .price{ color: #ff3333;}

.returns-table{ border: solid 1px #e5e5e5; margin-bottom: 0;width:100%;}
.returns-table td,
.returns-table th{ color: #000; border: 0; border-bottom: solid 1px #e5e5e5; text-align: center; vertical-align: middle;}
.returns-table th{ padding: 11px;}
.returns-table th.product{ width: 44%;}
.returns-table td{ padding: 14px 20px;}
.returns-table td.total{ border-left: solid 1px #e5e5e5; color: #ff3333; font-size: 26px; font-weight: bold;}
.returns-table td.price{ color: #ff3333;}
.returns-table td.product{ line-height: 0;}

.returns-table .product-wrapper{ display: inline-block; width: 100%;}
.returns-table .product-wrapper .product-image{ display: block; float: left; margin: 3px 12px 0 0;}
.returns-table .product-wrapper .product-info{ text-align: left;}
.returns-table .product-info .title{ line-height: 20px; min-height: 44px;}
.returns-table .product-info .title a{ color: #000;}
.returns-table .product-info p{ color: #000; line-height: 20px; margin-bottom: 0;}

.returns-table tfoot td{ text-align: right; background: #fdfaec; border-bottom: 0; padding: 22px 26px 0 26px;}
.returns-table tfoot td .price{ color: #ff3333; font-size: 26px; font-weight: bold;}
.returns-table tfoot tr:last-child td{ padding: 4px 4px 4px 26px;}
.toast-top-right {
top: 50%;
left: 50%;
margin-left: -150px;
margin-top: -58px;
}



.PushInfoPanel{
    width:300px;
    padding: 5px;
    max-height: 400px;
    overflow: auto;
}

.PushInfoPanel .TextPanel h2{
    line-height: 25px;
}
.PushInfoPanel .spanLightFont{
    font-size: 14px;
    color: green;
}
.PushInfoPanel .TextPanel .companyName{
    font-weight: bold;
    font-size: 16px;
    line-height: 180%;
}

.PushInfoPanel .Tabpanel{
    background: #6890c0;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-align: 14px;
}
.PushInfoPanel .TextPanel{
    border: 1px solid #ccc;
    padding: 5px;   
    margin-top: 5px;
}
.PushInfoPanel .TextPanel .Textname{

    font-weight: bold;
    font-size: 14px!important;
    line-height: 180%;
}

.PushInfoPanel .TextPanel a{
    color: blue;
}

.userheadpic img{
    border-radius: 5px;
    width:80px;
    height: 80px;
}
.ns-popover-list-theme{
    border-radius: 0px!important;
}

.Toolbody{
    display: block;
}

.toolLeftPanel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color:#EAEDF1;
    z-index: 102;
    overflow-y: hidden;
    width:180px;
}
.toolLeftPanel ul {
    height: 100%;
}

.ToolBodyPanel{
    margin-left: 180px;
    padding: 20px;
}   

.toolLeftPanel .naviTitle{
    height: 40px;
    background: #d9dee5;
    line-height: 40px;
    color: #323232;
    font-weight: bold;
    padding: 0px 10px 0px 10px;

}

.MarginBottom10px{
    margin-bottom: 10px;
}


.addTextBtn,.delTextBtn{
    font-size: 25px;
    font-weight: bold;
}
.addTextBtn:hover,.delTextBtn:hover{
    color:red;
    cursor:pointer;
}



.input-wrapper{
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.modellist{
    height: 30px;
}


.modellabel { line-height: 30px; font-weight: 700;}

.danger { color: red;}
.treven { background-color: #fafafa;}
#tablehtml table{
    padding: 0px!important;
}
#tablehtml table thead th{ 
    white-space: nowrap;
    padding: 5px;
    text-align: center;
    border: solid 1px #e5e5e5;
}
#tablehtml table tbody td{
    background-color: white;
    white-space: nowrap;
    padding: 5px;
    text-align: center;
    border: solid 1px #e5e5e5;
}

.choiseright{
    display: inline-block;
    background-color: #efefef;
    height: 30px;
    border: 1px solid #bababa;
    border-left: none;
    cursor: pointer;
    line-height: 16px;
    padding: 0 6px;
    vertical-align: middle;
}
button, .button{ cursor: pointer; display: inline-block; border: 0; border-radius: 0; background: #ff3333; color: #fff; height: 40px; font-size: 18px; line-height: 24px; padding: 8px 35px;}
a.button{ text-decoration: none !important; color: #fff;}

.release-form.content .form-list li {
    color: #000;
}
.release-form .form-list .options {
    margin-bottom: 30px;
}
.release-form .form-list li {
    position: relative;
    padding: 0 0 0 155px;
}
.release-form .form-list .options .input-box input{
    float: left;
    display: block;
    min-width:50px;
    margin-right: 10px;
}
.release-form .form-list .options .input-box label{
    float: left;
    display: block;
    min-width:50px;
}

.form-list table {
    border: solid 1px #e5e5e5;
}
.sharing-table {
    margin: 20px 0 0 0;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/ico/checkbox.png) center no-repeat;
    vertical-align: top;
    position:initial!important;
}



.radio-box input{

}

.tableclass table tbody td {
    background-color: white;
    white-space: nowrap;
    padding: 5px;
    text-align: center;
    border: solid 1px #e5e5e5;
}

.error-tip{
    color:red;
}

.OnBtn{
    color:red;
    font-weight: bold;
}

/* 后台菜单展开和收起旋转图标 */
.open{
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-moz-transform:rotate(-90deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	-o-transform:rotate(-90deg); /* Opera */
}

.hidden{
	display: none;
}
