@charset "utf-8"; 


.dropdown {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 26px;
}
.radio { margin-right: 10px; display: inline-block; width: 19px; height: 19px; background: url(../images/ico/radio.png) no-repeat; vertical-align: middle;}
.radiochecked { background: url(../images/ico/radiochecked.png) no-repeat;}


.DialogContent{
  background:#f8f8f8;
  padding-bottom: 30px;
  border-radius: 5px;
}

.DialogContent .Title{
  line-height: 50px;
  text-align: center;
  background: #6890c0;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}


.DialogContent .DialogFrom{
  margin:0px 60px 10px 60px;
}



.DialogFrom ul li{
  line-height: 50px;
  width: 100%;
  height: 50px;

}
.DialogFrom ul li span{
  width: 20%;
  display:inline-block;
  color: #575757;
  font-size: 12px;
}

.DialogFrom ul li input.TextboxLine{
  background: #ffffff;
  height: 30px;
  border: 0px;
  width: 78%;
  font-size: 12px;
  padding-left: 5px;
}



.DialogFrom ul li input.btnDialogLogin{
  width:100%;
}

.range {
    margin: 5px 0 6px 0;
    float: left;
    background: url("../images/others/icon-range.png") repeat-x left top;
    display: block;
    height: 13px;
    width: 80px;
    position: relative;
}
.range span {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: transparent url("../images/others/icon-range2.png") repeat-x scroll left top;
}


/*订单*/
.orders-table{ border: solid 1px #e5e5e5; margin-bottom: 0;}
.orders-table td,
.orders-table th{ color: #000; border: 0; border-bottom: solid 1px #e5e5e5; text-align: center; vertical-align: top;}
.orders-table th{ padding: 11px;}
.orders-table th.product{ width: 40%;}
.orders-table td{ padding: 14px 20px;}
.orders-table td.total{ border-left: solid 1px #e5e5e5; color: #000000; font-size: 14px; font-weight: bold;}
.orders-table td.price{ color: #ff3333;}
.orders-table td.product{ line-height: 0;}
.orders-table td.operation{ border-left: solid 1px #e5e5e5; color: #000000; }
.orders-table td.operation span{cursor: pointer;color: #878787}
.orders-table td.remark{ border-left: solid 1px #e5e5e5; color: #000000;  }
.orders-table .order-hd td  {padding:5px 0;}
.orders-table .order-hd .selector {float: left;margin: 3px 8px 0 6px;}
.orders-table .order-hd .basic-info {float: left;text-align: left;font-size:12px;}
.orders-table .order-hd .basic-info .order-num {width: 200px;}
.orders-table .order-hd .basic-info .deal-time {margin-left: 30px;}
.orders-table .order-hd .more-info  {float:right; padding: 0 20px 0 15px;font-size:12px;};

.orders-table .product-wrapper{ display: inline-block; width: 100%;}
.orders-table .product-wrapper .product-image{ display: block; float: left; margin: 3px 12px 0 0;}
.orders-table .product-wrapper .product-info{ text-align: left;}
.orders-table .product-info .title{ line-height: 20px; min-height: 44px;}
.orders-table .product-info .title a{ color: #000;}
.orders-table .product-info p{ color: #000; line-height: 20px; margin-bottom: 0;}

.orders-table tfoot td{ text-align: right; background: #fdfaec; border-bottom: 0; padding: 22px 26px 0 26px;}
.orders-table tfoot td .price{ color: #ff3333; font-size: 26px; font-weight: bold;}
.orders-table tfoot tr:last-child td{ padding: 4px 26px 12px 26px;}

/*订单结束*/



/*查询表单*/
.search-form .content{ border: solid 0px #e5e5e5; padding: 12px 12px 12px 12px;}
.search-form .content:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.search-form .content .left{ float: left; max-width: 1000px; margin: 3px 0;}
.search-form .content .form-list li{ color: #000;}
.search-form .form-list li{ position: relative; padding: 0 0 0 80px; float: left;}
.search-form .form-list li:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.search-form .form-list li label{ color: #000; position: absolute; left: 0; top: 0; display: block; width: 80px; line-height: 30px; padding: 0 5px 0 0; text-align: right;}
.search-form .form-list li .sbHolder{ float: left; margin: 0 10px 0 0;}

.search-form .form-list .date{ width: 450px;height: 23px;}
.search-form .form-list .date .ui-datepicker-trigger{ cursor: pointer; float: left; display: block; border: solid 1px #bababa; border-left: 0; padding: 8px 6px 6px 5px;}
.search-form .form-list .date .input-box{ float: left;}
.search-form .form-list .date .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.search-form .form-list .date .input-box2{ line-height: 30px; color: #999; margin: 0 7px;}
.search-form .form-list .date .input-text{ width: 131px; float: left; color: #999;}
.search-form .form-list li select { margin:3px 15px 0 0;}


.search-form .form-list .type{ margin: 0 20px 0 0;}
.search-formli .input-box .sbHolder{ width: 150px;}
.search-formli .input-box .sbHolder .sbOptions{ width: 150px;}
.search-formli .input-box .sbHolder .sbOptions li{ float: none;}

.search-form .content .right{ float: right; margin: 26px 0 0 0;}
.search-form .right .button,.search-form  .button{ height: 30px; font-size: 14px; padding: 3px 23px; background: #3366cc; vertical-align: middle;  }
.search-form .form-list .date .sort {padding: 4px;}
.search-form .form-list .date .sort a{margin-left: 20px;}
.inp-label {
  line-height: 30px;
  vertical-align: middle;
  display:inline-block;
}
.inp-text {
    vertical-align: middle;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    line-height: 20px;
    height: 30px; 
    border: solid 1px #bababa;
}
.inp-150{ 
    width: 150px;
}
.inp-120{ 
    width: 120px;
}
.nomatchrecord { text-align: center; line-height: 100px;}
.checkall { text-align: center; vertical-align: middle;}
.checkall span,.checkall input { vertical-align: middle; line-height: 20px;}
/*查询表单结束*/


/*确认收货*/
.confirm-form {padding-top:20px;}
.confirm-info{ margin: 22px 0 0 0;}
.confirm-info .content .info{ margin-top: 40px;}
.confirm-info .content .info span{ font-size: 24px;color:red; }
.confirm-info .content{ border: solid 1px #e5e5e5; padding: 18px 28px;}
.confirm-info .content:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.confirm-info .content .top{ width: 945px; margin: 3px 0;border-bottom: 1px solid #ddd;padding-bottom:20px;}
.confirm-info .left ul:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.confirm-info .left ul li{  line-height: 30px; color: #000; margin-right: 45px;}
.confirm-info .content .right{ float: right;}
.confirm-info .content .right .button{ text-align: center; width: 133px; display: block; font-size: 16px; line-height: 19px; padding: 8px 0; height: 35px;}
.confirm-form .form-list li label{ color: #000; position: absolute; left: 0; top: 0; display: block;  line-height: 30px; padding: 0 15px 0 0; text-align: right;}
.confirm-form .form-list li{ position: relative; padding: 0 0 0 85px;}
.confirm-form .form-list .input-text{ color: #000; width: 250px;}


.confirm-message {background: #fafafa;border: solid 1px #e5e5e5;padding: 31px 45px; margin-bottom: 20px;}
.confirm-message .content  { width: 380px; height: 52px;display: inline;margin: 14px 0 10px;}
.confirm-message .content .tip-info .pic-info{display: inline;  float: left;margin-right: 5px;}
.confirm-message .content .txt-info {margin-left: 55px; text-align: left;line-height: 18px; color: gray;}
.confirm-message .content .txt-info .desc {font-size: 24px;padding: 10px;}
.confirm-message .content .txt-info .price span{color:red;}
.confirm-message .content .txt-info .view {padding-top: 20px;padding-left:10px}
.confirm-message .content .txt-info .view a {color:#36c;}
.confirm-message .content .txt-info .view a:hover {    color: #f60;}
/*确认收货结束*/


/*物流信息*/
.panel-package {border:solid 1px #e5e5e5;margin-bottom: 32px;position: relative;border-radius: 3px;padding: 20px}
.panel-package .package-status .status-list li {height: auto;min-height: 30px;}
.panel-package .tip{border:solid 1px #e5e5e5;   padding: 6px;margin-top: 15px; width: 600px;}
.panel-package .tip{border:solid 1px #e5e5e5;   padding: 6px;margin-top: 15px; width: 600px;}
.panel-package .package-logistics .logistics-info li {height: auto;min-height: 30px;}
.panel-package .package-logistics .logistics-info li span {color:red;}  
.panel-package .package-title {height: 30px;}


/* 提交表单*/
.submit-form{ margin: 20px 0 0 0;}
.submit-form .content{ border: solid 1px #e5e5e5; padding: 32px 92px 72px 72px;}
.submit-form .content .form-list li{ color: #000;}
.submit-form .form-list li{ position: relative; padding: 0 0 0 155px;}
.submit-form .form-list li:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}

.submit-form .form-list .input-text{ color: #000; width: 250px;}
.submit-form .form-list .input-box .image{ float:left; padding: 0 30px 0 0;}
.submit-form .form-list .text{ float:left; padding: 0 30px 0 0;}
.submit-form .form-list li label{ color: #000; position: absolute; left: 0; top: 0; display: block; width: 155px; line-height: 30px; padding: 0 15px 0 0; text-align: right;}
.submit-form .form-list li label em{ color: #ff3333;}
.submit-form .form-list li .sbHolder{ float: left; margin: 0 10px 0 0;}
.submit-form .form-list .control label{ position: relative; width: auto; text-align: left; padding: 0;}
.submit-form .form-list .control > label{ position: absolute; width: 155px; text-align: right; padding-right: 15px;}

.submit-form .form-list .options{ margin-bottom: 30px;}
.submit-form .form-list .options:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.submit-form .form-list .options .input-box{ float: left; margin: 0 69px 0 0;}
.submit-form .form-list .options .input-box:last-child{ margin-right: 0;}
.submit-form .form-list .options .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.submit-form .form-list .options .iradio{ float: left; margin: 4px 15px 0 0;}
.submit-form .form-list .options label{ float: left;}

.submit-form .reasons .input-box .sbHolder{ width: 250px;}
.submit-form .reasons .input-box .sbHolder .sbOptions{ width: 250px;}

.submit-form .form-list .upload .input-box:after{ content: ''; display: block; clear: both; line-height: 0; height: 0; visibility: hidden;}
.submit-form .form-list li .btn-view{ margin: 0 25px 0 0; display: block; float: left; font-size: 14px; height: 30px; padding: 3px 38px; background: #3366cc;}
.submit-form .form-list li p{ float: left; color: #858585; line-height: 30px; margin: 0;}

.submit-form .content .actions{ padding: 0 0 0 155px;}
.submit-form .content .actions .button{ font-weight: bold; padding: 8px 29px;}

.steppanel .stepnote { float: right; padding-right: 20px; padding-top: 8px; color: #999;}
.steppanel .step { width: 100%; text-align: center; margin-top: 20px; margin-bottom: 20px;}
.steppanel .step ul li { padding:0px;margin:0px;min-height: 50px; min-width: 100px; display: inline-block; position: relative;  background: url(../images/ico/step_middle_0.png) top center no-repeat;}
.steppanel .step ul li.on {  background: url(../images/ico/step_middle_0_on.png) top center no-repeat;}
.steppanel .step ul li.now {  background: url(../images/ico/step_middle_0_now.png) top center no-repeat;}
.steppanel .step ul li.first { background: url(../images/ico/step_first_1.png) top right no-repeat; width: 67px; }
.steppanel .step ul li.first.on { background: url(../images/ico/step_first_1_on.png) top right no-repeat; }
.steppanel .step ul li.first.now {  background: url(../images/ico/step_first_1_now.png) top right no-repeat;}

.steppanel .step ul li.last.on { background: url(../images/ico/step_last_0_on.png) top left no-repeat; }
.steppanel .step ul li.last.now {  background: url(../images/ico/step_last_0_now.png) top left no-repeat;}
.steppanel .step ul li.last { background: url(../images/ico/step_last_0.png) no-repeat; }
.steppanel .step ul li span { position: absolute; display: inline-block; right: 46px; line-height: 32px; font-weight: bold; color: #999;}
.steppanel .step ul li.on,.steppanel .step ul li.on span { color: #6890c0;}
.steppanel .step ul li.now,.steppanel .step ul li.now span { color: #ff6600;}
.steppanel .step ul li.first span { right: 47px;}
.steppanel .step ul li.last span { right: 45px;}
.steppanel .step ul li label { display: inline-block; margin-top: 36px;}
.steppanel .stepnavi{text-align: center; padding-bottom: 10px; }
.steppanel .stepnavi span { display:  inline-block; margin: 0 16px;}
.steppanel .stepnavi label { color:#ff6600;}


/*订单详情*/
.order-view  {border: solid 1px #e5e5e5;padding-top: 15px;}
.order-view .tb{border: 0;}
.order-view .tb td{padding-left: 40px;border: 0;}
.order-view .tb td.line {border-right: solid 1px #e5e5e5;width: 50%;font-size:14px;}
.order-view .tb tr.title {font-size:16px;}

/*订单评价*/
.panel-appraise {border: solid 1px #e5e5e5;padding: 19px 28px;height: 350px;}
.panel-appraise .left{float: left;width: 30%;}
.panel-appraise .right {float: left;width: 70%;}

.panel-appraise .left .merchandise{ width: 170px;}
.panel-appraise .left .merchandise a.image{ display: block; line-height: 0;}
.panel-appraise .left .merchandise h4{ margin: 5px 0; font-size: 12px; line-height: 18px;}
.panel-appraise .left .merchandise h4 a{ color: #000;}
.panel-appraise .left .merchandise span.size{ display: block; color: #000; line-height: 20px;}


.submit-actions {padding: 10px 10px 10px 0px;}

.item{
  overflow:hidden;
}
.left50{
  padding-left:40%;
}
.checkbox { display: inline-block; width: 20px; height: 20px; background: url(../images/ico/checkbox.png) center no-repeat; vertical-align: top;}
.checked {background: url(../images/ico/checked.png) center no-repeat;}
.radiolisthorizontal  { float: left; padding-right: 20px;}
.radiolistvertical { padding: 3px 0;}
.checktd { padding: 14px 5px 14px 10px!important; width: 28px;}
.handler { padding: 14px 0px!important; text-align: center;}
.nolrpadding { padding-left: 0!important; padding-right: 0!important;}


.product-price-tablechild{
  border:0px!important;
  width:auto!important;
  margin-bottom:0px!important;
}
.product-price-tablechild tr td{
  border:0px!important;
  text-align: center;
  border-right:1px solid #ccc!important;
  padding: 0px!important;
  margin-bottom:0px!important;
  border-bottom:1px solid #ccc!important;
  height: 40px;
}
.product-price-tablechild tr td.noborder,.product-price-table tr td.noborder{
  border-right: 0px!important;
}
.product-price-tablechild tr td.nobottomborder,.product-price-table tr td.nobottomborder{
  border-bottom: 0px!important;
}

.product-price-tablechild tr td input{
  width:100px;
  height: 30px;
}

.btnentityinfo{
    display: block;
    height: 219px;
    width: 219px;
    background:url(../images/pubentity0.png);
    float: left;
    margin-left: 20px;
}

.btnentityinfo:hover{
    background:url(../images/pubentity1.png);
}

.btnserviceinfo{
    display: block;
    height: 219px;
    width: 219px;
    background:url(../images/pubserver0.png);
    float: left;
    margin-left: 20px;
}

.btnserviceinfo:hover{
    background:url(../images/pubserver1.png);
}

.btnvideo{
    display: block;
    height: 219px;
    width: 219px;
    background:url(../images/pubvideo0.png);
    float: left;
    margin-left: 30px;
}

.btnvideo:hover{
    background:url(../images/pubvideo1.png);
}
.buttonmsgpanel{
  width:100%;
  overflow: hidden;;
}
.msgpanel{
  width:706px;
  height: 100px;
  background: #fdfdf6;
  border:1px solid #f2e4b8;
  clear: both;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.msgpanel ul li{
  line-height: 30px;
  padding-left: 5px;
}

.addprotrolPanel{
    border:1px solid #ccc;
    padding: 10px;
    text-align: left!important;
    line-height: 180%;
}

.table td.pager { text-align: right; padding-right: 25px;   }
.table td.pager a { background: white; border: 1px solid #e5e5e5; display: inline-block; padding: 6px 12px; text-decoration: none;margin-left:5px;}
.table td.pager a.on,.table td.pager a:hover { background: #6890c0; color: white;}
.inputgroup { border-bottom: 1px solid #e5e5e5; line-height: 36px; margin-top: 10px};


