<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- ============================================================================================================== -->

	<context:component-scan base-package="com.zjht.manager.common.web.session" />

	<!-- 使用redis存储管理session -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<!-- 删除失效session -->
		<property name="sessionValidationSchedulerEnabled" value="true" />
		<!-- session失效时间（毫秒） -->
		<property name="globalSessionTimeout" value="1800000" />
		<property name="sessionDAO" ref="customShiroSessionDao" />
	</bean>

	<!-- Shiro安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="customRealm" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<!-- 自定义Realm -->
	<bean id="customRealm" class="com.zjht.manager.common.web.shiro.CustomRealm" />

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/admin/index/login.html" />
		<!-- <property name="successUrl" value="/login/loginSuccessFull" /> -->
		<property name="unauthorizedUrl" value="/error/403.jsp" />
		<!-- <property name="filters">
            <map>
                <entry key="auth" value-ref="userFilter"/>
            </map>
        </property> -->
		<property name="filterChainDefinitions">
			<value>
				/error/* = anon
				/scripts/* = anon
				/user/user/check.html = anon
				/user/user/verify.html = anon
				/user/user/checkVerifyCode.html = anon
				/user/user/logout.html = logout
				/**/*.htm* = authc
				/**/*.json* = authc
			</value>
		</property>
	</bean>

	<!-- <bean id="cleanFilter" class="cn.zifangsky.shiro.CleanFilter"/> -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>
